/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-header: url(../images/cover-image-dark.png);
  --background-fon-body: #000028;
  --focus-color: #ff0070;
  --hover-color: #ff007066;
  --color-decorated-element-header: #ff0070;
  --color-decorated-element-header-footer: #ff0070;
  --color-all-title-background: #ff0070;
  --color-text-all-title: #000028;
  --color-shadow: #ff0070;
  --color-text-start-end-title: #db00ff;
  --color-text-main: #f1b2ce;
}
