/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-header: url(../images/cover-image-dark.png);
  --background-fon-body: #000028;
  --focus-color: #ff0070;
  --hover-color: #ff007066;
  --color-decorated-element-header: #ff0070;
  --color-decorated-element-header-footer: #ff0070;
  --color-all-title-background: #ff0070;
  --color-text-all-title: #000028;
  --color-shadow: #ff0070;
  --color-text-start-end-title: #db00ff;
  --color-text-main: #f1b2ce;
  --header-theme-dark-circle: radial-gradient(
    circle at center,
    var(--color-decorated-element-header) 0,
    var(--color-decorated-element-header) 4px,
    rgb(255 0 112 / 0.8) 5px,
    rgb(255 0 112 / 0.6) 6px,
    rgb(255 0 112 / 0.4) 7px,
    rgb(255 0 112 / 0.2) 8px,
    transparent 9px
  );
}
