/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-fon: #000028;
  --focus-color: #ff0070;
  --hover-color: #ff007066;
  --color-rec: #ff0070;
  --color-ramka: #ff0070;
  --background-text: #ff0070;
  --text-color-header: #000028;
  --accent-color: #ff0070;
  --text-header: #db00ff;
  --text-main: #f1b2ce;
}
