/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-header: url(../images/cover-image-light.png);
  --background-fon-body: #fff1f7;
  --focus-color: #353430;
  --hover-color: #32312d66;
  --color-decorated-element-header: #fff1f7;
  --color-decorated-element-header-footer: #353430;
  --color-all-title-background: #ff8dcb;
  --color-text-all-title: #353430;
  --color-shadow: #ff8dcb;
  --color-text-start-end-title: #ffc2e6;
  --color-text-main: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-header: url(../images/cover-image-light.png);
    --background-fon-body: #fff1f7;
    --focus-color: #353430;
    --hover-color: #32312d66;
    --color-decorated-element-header: #fff1f7;
    --color-decorated-element-header-footer: #353430;
    --color-all-title-background: #ff8dcb;
    --color-text-all-title: #353430;
    --color-shadow: #ff8dcb;
    --color-text-start-end-title: #ffc2e6;
    --color-text-main: #353430;
  }
}
