/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-fon: #fff1f7;
  --focus-color: #353430;
  --hover-color: #32312d66;
  --color-rec: #fff1f7;
  --color-ramka: #353430;
  --background-text: #ff8dcb;
  --text-color-header: #353430;
  --accent-color: #ff8dcb;
  --text-header: #ffc2e6;
  --text-main: #353430;
}

@media (prefers-color-scheme: light) {

  :root {
     --background-image: url(../images/cover-image-light.png);
  --background-fon: #fff1f7;
  --focus-color: #353430;
  --hover-color: #32312d66;
  --color-rec: #fff1f7;
  --color-ramka: #353430;
  --background-text: #ff8dcb;
  --text-color-header: #353430;
  --accent-color: #ff8dcb;
  --text-header: #ffc2e6;
  --text-main: #353430;
  }
}
