/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

@import url(variables.css);

.page {
  background-attachment: fixed;
}

.header {
  display: grid;
  block-size: 100vh;
  min-height: 668px;
  font-family: 'IBM Plex mono';
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header__theme-menu {
  justify-self: central;
  align-self: flex-end;
}

.header__theme-menu-list {
  margin: 0;
  padding: 0;
}

.header__theme-menu-item {
  list-style-type: none;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  padding: 0.3rem 0;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--focus-color);
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  align-items: center;
  width: 70px;
  height: 26px;
  font-weight: 400;
  font-family: 'IBM Plex Mono';
}

.verh-header {
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button_active {
  border: 1px solid var(--focus-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: none;
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--focus-color);
  outline: none;
}

.decor {
  font-family: 'IBM Plex mono', Regular;
  margin-block-start: 0;
  display: flex;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-rec);
  align-self: end;
  align-items: end;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  padding-bottom: 1.8em;
}

.decor::after {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  background: radial-gradient(circle, var(--color-rec) 4.5px, transparent 5px);
  align-items: center;
  filter: drop-shadow(0 0 4px var(--color-rec));
  border-top: 1px solid var(--color-ramka);
  border-right: 1px solid var(--color-ramka);
}

.pystota {
  margin: 0;
}

.background-text {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-self: end;
  box-sizing: content-box;
  width: 100%;
}

.header-title {
  align-self: flex-start;
  justify-self: end;
  block-size: 117px;
  inline-size: max(355px, 47vw);
  line-height: 23.4px;
  letter-spacing: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.background-text::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  justify-self: flex-start;
  border-bottom: 1px solid var(--color-ramka);
  border-left: 1px solid var(--color-ramka);
  grid-row: 2;
}

.title-decor {
  font-family: 'IBM Plex mono';
  background-color: var(--background-text);
  font-size: 18px;
  color: var(--text-color-header);
  font-weight: bold;
  margin-block-end: 0;
  margin-block-start: 0;
}

.zagolovok {
  margin-block: 0;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--text-header);
  line-height: 83%;
  font-weight: bold;
}

.section-text {
  display: grid;
  height: fit-content;
  font-family: 'IBM Plex mono';
}

.title-main {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--focus-color);
  margin: 0;
}

.osnova {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  background-color: var(--background-fon);
  font-family: 'IBM Plex mono';
}

.text-desctop {
  padding: 24px 0 0;
}

.section-image {
  display: grid;
}

.gallery {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.gallery__item {
  margin: 0;
}

h4.title-decor {
  font-weight: 400;
}

.text-main {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--text-main);
}

.podval {
  background-color: var(--background-fon);
  block-size: 100vh;
}

.footer-text {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: 'IBM Plex Mono';
}

.footer-text::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  justify-content: end;
  border-bottom: 1px solid var(--color-ramka);
  border-left: 1px solid var(--color-ramka);
  align-self: end;
  justify-self: start;
}

.footer-text::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  justify-content: end;
  border-top: 1px solid var(--color-ramka);
  border-right: 1px solid var(--color-ramka);
  align-self: start;
  justify-self: end;
}

.footer {
  align-self: center;
  justify-self: center;
  margin: 0;
  margin-block: 0;
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
  color: var(--text-main);
}

.link:hover {
  border-bottom: 1px solid var(--text-main);
  outline: none;
}

.link:focus {
  border-bottom: 1px solid var(--text-main);
  outline: none;
}

.text {
  gap: 0.7em;
}

.block {
  display: grid;
}

@media (width<768px) {
  .decor {
    padding-top: 10px;
  }

  .zagolovok {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  /*.header > .zagolovok{
    padding-block-start: 60px;
  }
  .background-text{
    padding-block-start: 59px;
  }

  .ramka {
    margin-block-start: 29px;
  }*/

  .header-title {
    top: 10px;
  }

  .osnova {
    gap: 25px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-start: 16px;
  }

  .text-main {
    padding-block-start: 10px;
  }

  .title-main:nth-child(1) {
    padding: 1.5em 0 1em;
  }

  .title-main:nth-child(2(n+1) + 3) {
    padding: 3em 0 0;
  }

  .section-text {
    gap: 20px;
  }

  .text-planshet-par > .title-decor:first-child {
    margin-bottom: 1em;
  }

  .section-image {
    padding-top: 25px;
    gap: 10px;
  }

  .gallery {
    gap: 7px;
    padding-block-end: 53px;
  }

  .gallery__image {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .header {
    padding-block-end: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    gap: 26px;
  }

  .podval {
    padding-inline: 10px;
    padding-block: 10px;
  }
}

@media (width>= 768px) {
  .background-text {
  }

  .header__theme-menu {
    padding-top: 10.3vh;
  }

  .header-title {
    block-size: min(15vh, 117px);
    inline-size: max(364px, 46vw);
  }

  .zagolovok {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header > .zagolovok {
    margin-inline-start: -20px;
  }

  .osnova {
    padding-top: 40px;
    gap: 5em;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .block:first-child {
    padding-block-start: 20px;
  }

  .block:nth-child(2n + 1) {
    grid-template-columns: 30.7vw 1fr;
    gap: 1.2em;
  }

  .text-main {
    margin-top: 10px;
  }

  .section-text {
    gap: 20px;
  }

  .block:nth-child(2n) {
    gap: 20px;
  }

  .block:nth-child(2n) > .title-main:first-child {
    width: 30vw;
    height: 7vh;
    display: block;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, clamp(230px, 30vw, 315px));
    grid-template-rows: repeat(2, clamp(230px, 30vw, 315px)), auto;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding-block-end: 45px;
  }

  .gallery__item {
    box-sizing: border-box;
    min-block-size: 4.3em;
  }

  .gallery__image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-position: center;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }

  .select-text {
    gap: 20px;
  }

  .text-planshet-par {
    gap: 20px;
  }

  .section-image {
    gap: 20px;
  }

  .header {
    gap: 27px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-end: 20px;
  }

  .decor {
    padding-top: 20px;
  }

  .podval {
    padding-inline: 20px;
    padding-block: 20px;
  }

  .footer {
    justify-self: center;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-inline: 20px;
    padding-block-start: 12px;
    gap: 75px;
  }

  .pystota {
    padding: 0 55px 0 0;
  }

  .verh-header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .decor {
    align-self: flex-start;
    padding-block-start: 0.5rem;
  }

  .header__theme-menu {
    padding-top: 0%;
    align-self: flex-start;
  }

  .zagolovok {
    align-self: center;
    padding-block-start: 25px;
  }

  .background-text {
  }

  .header-title {
    block-size: min(15vh, 71px);
    inline-size: max(491px, 45vw);
  }

  .block:nth-child(2n) {
    gap: 15px;
  }

  .block:nth-child(2n) > .section-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery {
    padding-block-start: 20px;
    grid-template-columns: none;
    grid-template-rows: none;
    gap: 20px;
    height: auto;
    padding-block-end: 48px;
  }

  .title-decor {
    align-self: self-start;
  }

  .section-image {
    display: block;
    gap: 0;
  }

  .podval {
    padding-inline: 20px;
    padding-block: 20px;
  }

  .footer {
    padding-top: 0;
    margin-top: 0%;
    align-self: center;
  }
}
