/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-attachment: fixed;
}

.header {
  display: grid;
  block-size: 100vh;
  min-height: 668px;
  font-family: 'IBM Plex mono', Arial, sans-serif;
  background-image: var(--background-header);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header__theme-menu {
  justify-self: central;
  align-self: flex-end;
  cursor: pointer;
}

.header__theme-menu-item {
  list-style-type: none;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  padding: 0.3rem 0;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--focus-color);
  align-items: center;
  width: 70px;
  height: 26px;
  font-weight: 400;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}

.header-start-block {
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button_active {
  border: 1px solid var(--focus-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: none;
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-color);
  outline: none;
}

.decorated-element-header-dark {
  font-family: 'IBM Plex mono', Arial, sans-serif;
  margin-block-start: 0;
  display: flex;
  gap: 3px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-decorated-element-header);
  align-self: end;
  align-items: end;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  padding-bottom: 1.8em;
}

.decorated-element-header-dark::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  align-items: center;
  border-top: 1px solid var(--color-decorated-element-header-footer);
  border-right: 1px solid var(--color-decorated-element-header-footer);
  background: radial-gradient(
    circle,
    var(--color-decorated-element-header) 1px,
    transparent 8px
  );
  filter: drop-shadow(0 0 1px var(--color-decorated-element-header));
}

.header-block-text {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-self: end;
  box-sizing: content-box;
  width: 100%;
}

.header-text {
  align-self: flex-start;
  justify-self: end;

  inline-size: max(355px, 47vw);
  line-height: 23.4px;
  letter-spacing: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-block-text::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  justify-self: flex-start;
  border-bottom: 1px solid var(--color-decorated-element-header-footer);
  border-left: 1px solid var(--color-decorated-element-header-footer);
  grid-row: 2;
}

.all-title {
  font-family: 'IBM Plex mono', Arial, sans-serif;
  background-color: var(--color-all-title-background);
  font-size: 18px;
  color: var(--color-text-all-title);
  font-weight: bold;
  margin-block-end: 0;
  margin-block-start: 0;
}

.start-end-title {
  margin-block: 0;
  text-shadow: 4px 4px 0 var(--color-shadow);
  color: var(--color-text-start-end-title);
  line-height: 83%;
  font-weight: bold;
}

.section-text {
  display: grid;
  height: fit-content;
  font-family: 'IBM Plex mono', Arial, sans-serif;
}

.main-title-block {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--focus-color);
  margin: 0;
}

.main-block-text-father {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  background-color: var(--background-fon-body);
  font-family: 'IBM Plex mono', Arial, sans-serif;
}

.text-desctop {
  padding: 24px 0 0;
}

.section-image {
  display: grid;
}

.gallery {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.gallery__item {
  margin: 0;
}

.title-main-h4 {
  font-weight: 400;
}

.text-main {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--color-text-main);
}

.footer {
  background-color: var(--background-fon-body);
  block-size: 100vh;
  min-block-size: 667px;
  min-inline-size: 375px;
}

.footer-block-title {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}

.footer-block-title::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  align-self: end;
  justify-self: start;
  border-bottom: 1px solid var(--color-decorated-element-header-footer);
  border-left: 1px solid var(--color-decorated-element-header-footer);
}

.footer-block-title::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-decorated-element-header-footer);
  border-right: 1px solid var(--color-decorated-element-header-footer);
  align-self: start;
  justify-self: end;
}

.footer-block-title > .start-end-title {
  align-self: center;
  justify-self: center;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--color-shadow);
  color: var(--color-text-main);
}

.link:hover {
  border-bottom: 1px solid var(--color-text-main);
  outline: none;
}

.link:focus-visible {
  border-bottom: 1px solid var(--color-text-main);
  outline: none;
}

.main-text-paragraph {
  gap: 0.7em;
}

.block-text-main {
  display: grid;
}

@media (width<768px) {

  .decorated-element-header-dark {
    padding-top: 10px;
  }

  .start-end-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header-text {
    top: 10px;
  }

  .main-block-text-father {
    gap: 25px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-start: 16px;
  }

  .text-main {
    padding-block-start: 10px;
  }

  .main-title-block {
    padding: 1.5em 0 1em;
  }

  .section-text {
    gap: 20px;
  }

  .text-planshet-par > .all-title:first-child {
    margin-bottom: 1em;
  }

  .section-image {
    padding-top: 25px;
    gap: 10px;
  }

  .gallery {
    gap: 10px;
    padding-block-end: 42px;
  }

  .gallery__image {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .header {
    padding-block-end: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    gap: 26px;
  }

  .footer {
    padding-inline: 10px;
    padding-block: 10px;
  }
}

@media (width>= 768px) {

  .header__theme-menu {
    padding-block-start: 10.3vh;
  }

  .header-text {
    inline-size: max(364px, 46vw);
  }

  .start-end-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header > .start-end-title {
    margin-inline-start: -20px;
  }

  .main-block-text-father {
    padding-block-start: 40px;
    gap: 5em;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .block-text-main:first-child {
    padding-block-start: 20px;
  }

  .block-text-main:nth-child(2n + 1) {
    grid-template-columns: 30.7vw 1fr;
    gap: 1.2em;
  }

  .text-main {
    margin-top: 10px;
  }

  .section-text {
    gap: 20px;
  }

  .block-even {
    gap: 20px;
  }

  .block-even:nth-child(2n) > .main-title-block:first-child {
    width: 30vw;
    display: block;
  }

  .gallery {
    padding-block-start: 20px;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding-block-end: 49px;
  }

  .gallery__item {
    box-sizing: border-box;
    min-block-size: 4.3em;
  }

  .gallery__image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-position: center;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }

  .select-text {
    gap: 20px;
  }

  .text-planshet-par {
    gap: 20px;
  }

  .section-image {
    display: block;
    gap: 0;
  }

  .header {
    gap: 27px;
    padding-inline: 20px;
    padding-block-end: 20px;
  }

  .decorated-element-header-dark {
    padding-block-start: 20px;
  }

  .footer {
    padding-inline: 20px;
    padding-block: 20px;
  }
}

@media (min-width: 1024px) {

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .header-text {
    inline-size: max(491px, 45vw);
  }

  .header {
    padding-block-start: 12px;
    gap: 75px;
  }

  .header_empty_element_1024 {
    padding: 0 60px 0 0;
  }

  .header-start-block {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .block-even > .section-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block-start: 8px;
  }

  .decorated-element-header-dark {
    align-self: flex-start;
    padding-block-start: 0.5rem;
  }

  .header__theme-menu {
    padding-block-start: 0;
    align-self: flex-start;
  }

  .block-even {
    gap: 15px;
  }

  .header > .start-end-title {
    padding-block-start: 25px;
    align-self: center;
  }
}
