/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-attachment: fixed; 
  background-image: var(--background-header); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-color: var(--background-fon-body); 
  min-height: 100vh
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
}

.header-start-block::before {
  content: 'REC';
  position: absolute;
  font-family: 'IBM Plex mono', Arial, sans-serif;
  color: var(--color-decorated-element-header);
  font-size: 18px;
  align-self: flex-end;
  justify-self: flex-start;
  margin-block-start: calc(-26px - var(--header-betwen-distance));
  margin-inline-end: 29px;
}

.header {
  display: grid;
  gap: var(--header-betwen-distance);
  grid-template-rows: auto 1fr 1fr 1fr auto;
  block-size: 100vh;
  font-family: 'IBM Plex mono', Arial, sans-serif;
  background: var(--background-header) center/cover no-repeat;
  min-height: 100vh; /* или фиксированная высота */
  inline-size: 100%;
  position: relative;
  padding-block: 10px;
  padding-inline: 10px;
}

.header__theme-menu {
  align-self: flex-end;
  cursor: pointer;
}

.header__theme-menu-item {
  list-style-type: none;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  padding: 0.3rem 0;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--focus-color);
  align-items: center;
  width: 70px;
  height: 26px;
  font-weight: 400;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}

.header-start-block {
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button_active {
  border: 1px solid var(--focus-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: none;
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-color);
  outline: none;
}

.header-block-text {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-self: end;
  box-sizing: content-box;
  width: 100%;
}

.header-text {
  align-self: flex-start;
  justify-self: end;

  inline-size: max(355px, 47vw);
  line-height: 23.4px;
  letter-spacing: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.decorated-zone::after {
  justify-self: flex-start;
  align-self: flex-end;
  border-bottom: 1px solid var(--color-decorated-element-header-footer);
  border-left: 1px solid var(--color-decorated-element-header-footer);
}

.all-title {
  font-family: 'IBM Plex mono', Arial, sans-serif;
  background-color: var(--color-all-title-background);
  font-size: 18px;
  color: var(--color-text-all-title);
  font-weight: bold;
  margin-block-end: 0;
  margin-block-start: 0;
}

.start-end-title {
  margin-block: 0;
  text-shadow: 4px 4px 0 var(--color-shadow);
  color: var(--color-text-start-end-title);
  line-height: 83%;
  font-weight: bold;
  align-self: center;
}

.section-text {
  display: grid;
  gap: 20px;
  height: fit-content;
  font-family: 'IBM Plex mono', Arial, sans-serif;
}

.main-title-block {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--focus-color);
  margin: 0;
}

.main-block-text-father {
  background-color: var(--background-fon-body);
  display: grid;
  gap: 25px;
  grid-template-columns: minmax(0, 1fr);
  font-family: 'IBM Plex mono', Arial, sans-serif;
}

.text-desctop {
  padding: 24px 0 0;
}

.section-image {
  display: grid;
}

.gallery {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.gallery__item {
  margin: 0;
}

.title-main-little {
  font-weight: 400;
}

.text-main {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--color-text-main);
  padding-block-start: 10px;
}

.footer {
  background-color: var(--background-fon-body);
  display: grid;
  block-size: 100vh;
  min-block-size: 667px;
  min-inline-size: 375px;
}

.footer-block-title {
  align-self: center;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}

.decorated-zone::before {
  border-top: 1px solid var(--color-decorated-element-header-footer);
  border-right: 1px solid var(--color-decorated-element-header-footer);
  align-self: flex-start;
  justify-self: flex-end;
}

.header.decorated-zone::before {
  background: var(--header-theme-dark-circle);
}

.footer-block-title > .start-end-title {
  justify-self: center;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--color-shadow);
  color: var(--color-text-main);
}

.link:hover {
  border-bottom: 1px solid var(--color-text-main);
  outline: none;
}

.link:focus-visible {
  border-bottom: 1px solid var(--color-text-main);
  outline: none;
}

.main-text-paragraph {
  gap: 0.7em;
}

.block-text-main {
  display: grid;
}

.gallery__image {
  max-width: 100%;
}

@media (width<768px) {
  .header {
    padding-block: 10px;
    padding-inline: 10px;
  }

  .main-block-text-father {
    padding-inline: 10px;
    padding-block-start: 14px;
  }

  .footer {
    padding-inline: 10px;
    padding-block: 10px;
  }

  .start-end-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header-text {
    align-self: flex-end;
  }

  .main-title-block {
    padding: 1.5em 0 1em;
  }

  .text-planshet-par > .all-title:first-child {
    margin-bottom: 1em;
  }

  .section-image {
    padding-top: 25px;
    gap: 10px;
  }

  .gallery {
    gap: 10px;
    padding-block-end: 40px;
  }

  .gallery__image {
    display: block;
  }
}

@media (width>= 768px) {
  .header__theme-menu {
    padding-block-start: 25px;
  }

  .header-text {
    inline-size: max(364px, 46vw);
    align-self: center;
  }

  .start-end-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header > .start-end-title {
    margin-inline-start: -20px;
  }

  .main-block-text-father {
    padding-block-start: 40px;
    gap: 5em;
    padding-inline: 20px;
  }

  .block-text-main:first-child {
    padding-block-start: 20px;
  }

  .block-computer-monitor-change {
    grid-template-columns: 30.7vw 1fr;
    gap: 1.2em;
  }

  .block-pad-change {
    gap: 20px;
  }

  .block-pad-change > .main-title-block:first-child {
    width: 30vw;
    display: block;
  }

  .gallery {
    padding-block-start: 20px;
    grid-template-columns: auto 230px auto;
    grid-template-rows: 192px 230px 320px;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding-block-end: 58px;
  }

  .gallery__item {
    box-sizing: border-box;
    min-block-size: 4.3em;
  }

  .gallery__image {
    block-size: 100%;
    object-position: center;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }

  .section-image {
    display: block;
  }

  .header {
    padding-inline: 20px;
    padding-block: 20px;
  }

  .footer {
    padding-inline: 20px;
    padding-block: 20px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .header-text {
    inline-size: max(491px, 45vw);
    margin-block-end: 20px;
  }

  .header_empty_element_planshet {
    padding: 0 60px 0 0;
  }

  .header-start-block {
    margin-block-start: -30px;
  }

  .block-pad-change > .section-text {
    grid-template-columns: 1fr 1fr 1fr;
    padding-block-start: 8px;
  }

  .header__theme-menu {
    padding-block-start: 0;
    align-self: center;
  }

  .block-pad-change {
    gap: 15px;
  }

  .header-start-block::before {
    margin-block-start: 5px;
  }

  .gallery {
    grid-template-columns: auto 315px auto;
    grid-template-rows: 260px 315px 433px;
  }
}
